{{ define "main" }}
<div class="list-header">
  <div class="list-title">// writing</div>
  <div class="list-desc">{{ .Site.Params.description }}</div>
</div>

<ul class="post-list">
  {{ range .Site.RegularPages.ByDate.Reverse }}
  <li class="post-item">
    {{ with .Params.cover }}
      <div class="post-thumb">
        <img src="{{ . | relURL }}" alt="{{ $.Title }}">
      </div>
    {{ else }}
      <div class="post-thumb placeholder">no<br>img</div>
    {{ end }}

    <div class="post-info">
      <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <div class="post-bottom">
        <div class="post-tags">
          {{ range .Params.tags }}
            <span class="tag">{{ . }}</span>
          {{ end }}
        </div>
        <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
      </div>
    </div>
  </li>
  {{ end }}
</ul>
{{ end }}